@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Sora Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    font-family: var(--font-sans);
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }

  code,
  pre {
    font-family: var(--font-mono);
  }
}
